<ng-template
  [ngIf]="!!selectedProduct"
  [ngIfThen]="selectedProductTemplate"
  [ngIfElse]="noSelectedProductTemplate"
>
</ng-template>

<ng-template #selectedProductTemplate>
  <div class="border success" (click)="selectedProduct = null">
    <app-product-item
      [desc]="selectedProduct?.description || ''"
      [imageSrc]="selectedProduct?.imageUrl || ''"
      [price]="selectedProduct?.price || 0"
    ></app-product-item>
  </div>
</ng-template>

<ng-template #noSelectedProductTemplate>
  <div class="border">
    <h1>no selected</h1>
  </div>
</ng-template>

<app-product-list
  #productList
  *ngIf="products && products.length; else noSelectedProductTemplate"
  [products]="products"
  (productClicked)="handleProductClicked($event)"
></app-product-list>

<div [ngSwitch]="selectedColor">
  <div *ngSwitchCase="COLOR.BLUE" (click)="selectedColor = COLOR.GREEN">
    <h1>i am blue</h1>
  </div>
  <div *ngSwitchCase="COLOR.RED">
    <h1>i am red</h1>
  </div>
  <div *ngSwitchCase="COLOR.GREEN">
    <h1>i am green</h1>
  </div>
  <div>
    <div *ngSwitchDefault>...</div>
  </div>
</div>
